.formulario {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.formulario-recuadro {
    width: 300px;
    padding: 20px;
    background-color: rgba(125, 125, 185, 0.7);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

label {
    width: 200px;
}

.centrado {
    margin: auto;
}

.titulo {
    font-size: larger;
}
